{% extends "blog/layout/base.html" %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block header %}
    <header class="masthead" style="background-image: url('{% static "img/logo.jpeg" %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <!-- <h1>About Nirmata</h1> -->
                        <!-- <span class="subheading">This is what I do.</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}  

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <header>
                <p style="font-family: 'Arial', sans-serif; color: #333; line-height: 1.6;">
                    Welcome to Nirmata: Pioneering the Future through Cutting-Edge Research
                </p>

                <p style="font-family: 'Arial', sans-serif; color: #333; line-height: 1.6;">
                    At Nirmata, we are at the forefront of technological innovation, pushing the boundaries of what's possible through our commitment to groundbreaking research and development. As a research-based company, our mission is to unravel the mysteries of the mind, harness the power of artificial intelligence, and create applications that positively impact humanity.
                </p>
            </header>
            <main>
                <section>
                    <h2 style="color: #004080; font-weight: normal;">Our Focus Areas:</h2>
                    <ul>
                        <li><strong>Deep Learning Models:</strong> Our team of experts specializes in developing state-of-the-art deep learning models.</li>
                        <li><strong>3D Mapping and Simulations (SLAM):</strong> Nirmata excels in 3D mapping technologies, particularly Simultaneous Localization and Mapping (SLAM).</li>
                        <li><strong>Decoding Thoughts with fMRI/EEG Data:</strong> Unlocking the mysteries of the human mind is a core focus at Nirmata.</li>
                        <li><strong>VR Technology with Unreal Engine:</strong> Immerse yourself in the future with our Virtual Reality (VR) technology.</li>
                        <li><strong>Multi-Action Bots:</strong> Nirmata pioneers the development of multi-action bots.</li>
                        <li><strong>IoT and Future Simulations:</strong> We are at the forefront of the Internet of Things (IoT) revolution.</li>
                    </ul>
                </section>
        
                <section>
                    <h2 style="color: #004080; font-weight: normal;">Our Vision:</h2>
                    <p style="font-family: 'Arial', sans-serif; color: #333; line-height: 1.6;">
                        Nirmata envisions a future where technology seamlessly integrates with the human experience, enhancing our lives and addressing societal challenges. Through our research and development initiatives, we aim to bridge the gap between the digital and physical worlds, creating applications that have a lasting and positive impact on humanity.
                    </p>
                    <p style="font-family: 'Arial', sans-serif; color: #333; line-height: 1.6;">
                        Join us on this exciting journey of discovery and innovation. At Nirmata, the future is not just a destination; it's a reality we are actively shaping.
                    </p>
                </section>
            </main>
        </div>
    </div>
{% endblock %}